.table,
.table * {
  box-sizing: border-box;
}
.table {
  position: relative;
}
.rectangle-5 {
  background: rgba(222, 222, 222, 0.3);
  border-radius: 8px;
  width: 794px;
  height: 329px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: inset 1px 3px 2px 0px rgba(0, 0, 0, 0.2);
  filter: blur(1.5px);
}
.product-2 {
  width: 794px;
  height: 315px;
  position: static;
}
.performance-detalhada {
  color: #252f40;
  text-align: left;
  font-family: 'Calibri-Bold', sans-serif;
  font-size: 16px;
  letter-spacing: -0.44px;
  font-weight: 700;
  position: absolute;
  left: 28.52px;
  top: 10px;
}
.ativas {
  color: #16c098;
  text-align: left;
  font-family: 'Poppins-Regular', sans-serif;
  font-size: 12px;
  letter-spacing: -0.01em;
  font-weight: 400;
  position: absolute;
  left: 28.52px;
  top: 39px;
}
.group-22 {
  width: 794px;
  height: 221.51px;
  position: static;
}
.line-1 {
  width: 794px;
  height: 0px;
  position: absolute;
  left: 0px;
  top: 98px;
  overflow: visible;
}
.group-21 {
  width: 710.45px;
  height: 21px;
  position: static;
}
.id {
  color: #444344;
  text-align: left;
  font-family: 'Poppins-Bold', sans-serif;
  font-size: 14px;
  letter-spacing: -0.01em;
  font-weight: 700;
  position: absolute;
  left: 29px;
  top: 67px;
}
.campanha {
  color: #444344;
  text-align: left;
  font-family: 'Poppins-Bold', sans-serif;
  font-size: 14px;
  letter-spacing: -0.01em;
  font-weight: 700;
  position: absolute;
  left: 171.66px;
  top: 67px;
}
.produto {
  color: #444344;
  text-align: left;
  font-family: 'Poppins-Bold', sans-serif;
  font-size: 14px;
  letter-spacing: -0.01em;
  font-weight: 700;
  position: absolute;
  left: 280.31px;
  top: 67px;
}
.visualiza-es {
  color: #444344;
  text-align: left;
  font-family: 'Poppins-Bold', sans-serif;
  font-size: 14px;
  letter-spacing: -0.01em;
  font-weight: 700;
  position: absolute;
  left: 409.69px;
  top: 67px;
}
.cliques {
  color: #444344;
  text-align: left;
  font-family: 'Poppins-Bold', sans-serif;
  font-size: 14px;
  letter-spacing: -0.01em;
  font-weight: 700;
  position: absolute;
  left: 581.38px;
  top: 67px;
}
.ctr {
  color: #444344;
  text-align: center;
  font-family: 'Poppins-Bold', sans-serif;
  font-size: 14px;
  letter-spacing: -0.01em;
  font-weight: 700;
  position: absolute;
  left: 711.45px;
  top: 67px;
}
.group-222 {
  width: 711.48px;
  height: 23.3px;
  position: static;
}
._0000000001 {
  color: #292d32;
  text-align: left;
  font-family: 'Poppins-Medium', sans-serif;
  font-size: 14px;
  letter-spacing: -0.01em;
  font-weight: 500;
  position: absolute;
  left: 29px;
  top: 108px;
}
.nome {
  color: #292d32;
  text-align: left;
  font-family: 'Poppins-Medium', sans-serif;
  font-size: 14px;
  letter-spacing: -0.01em;
  font-weight: 500;
  position: absolute;
  left: 171.66px;
  top: 108px;
}
.nome2 {
  color: #292d32;
  text-align: left;
  font-family: 'Poppins-Medium', sans-serif;
  font-size: 14px;
  letter-spacing: -0.01em;
  font-weight: 500;
  position: absolute;
  left: 280.31px;
  top: 108px;
}
._100-578 {
  color: #292d32;
  text-align: left;
  font-family: 'Poppins-Medium', sans-serif;
  font-size: 13px;
  letter-spacing: -0.01em;
  font-weight: 500;
  position: absolute;
  left: 409.69px;
  top: 108px;
}
._11-525 {
  color: #292d32;
  text-align: left;
  font-family: 'Poppins-Medium', sans-serif;
  font-size: 14px;
  letter-spacing: -0.01em;
  font-weight: 500;
  position: absolute;
  left: 581.38px;
  top: 108px;
}
._0-0 {
  color: #292d32;
  text-align: left;
  font-family: 'Poppins-Medium', sans-serif;
  font-size: 14px;
  letter-spacing: -0.01em;
  font-weight: 500;
  position: absolute;
  left: 708.48px;
  top: 110.3px;
}
.group-23 {
  width: 712.5px;
  height: 23.3px;
  position: static;
}
._0000000002 {
  color: #292d32;
  text-align: left;
  font-family: 'Poppins-Medium', sans-serif;
  font-size: 14px;
  letter-spacing: -0.01em;
  font-weight: 500;
  position: absolute;
  left: 29px;
  top: 147.3px;
}
.nome3 {
  color: #292d32;
  text-align: left;
  font-family: 'Poppins-Medium', sans-serif;
  font-size: 14px;
  letter-spacing: -0.01em;
  font-weight: 500;
  position: absolute;
  left: 171.66px;
  top: 147.3px;
}
.nome4 {
  color: #292d32;
  text-align: left;
  font-family: 'Poppins-Medium', sans-serif;
  font-size: 14px;
  letter-spacing: -0.01em;
  font-weight: 500;
  position: absolute;
  left: 280.31px;
  top: 147.3px;
}
._94-521 {
  color: #292d32;
  text-align: left;
  font-family: 'Poppins-Medium', sans-serif;
  font-size: 13px;
  letter-spacing: -0.01em;
  font-weight: 500;
  position: absolute;
  left: 409.69px;
  top: 147.3px;
}
._8-442 {
  color: #292d32;
  text-align: left;
  font-family: 'Poppins-Medium', sans-serif;
  font-size: 14px;
  letter-spacing: -0.01em;
  font-weight: 500;
  position: absolute;
  left: 581.38px;
  top: 147.3px;
}
._0-02 {
  color: #292d32;
  text-align: left;
  font-family: 'Poppins-Medium', sans-serif;
  font-size: 14px;
  letter-spacing: -0.01em;
  font-weight: 500;
  position: absolute;
  left: 709.5px;
  top: 149.6px;
}
.group-24 {
  width: 712.5px;
  height: 23.3px;
  position: static;
}
._0000000003 {
  color: #292d32;
  text-align: left;
  font-family: 'Poppins-Medium', sans-serif;
  font-size: 14px;
  letter-spacing: -0.01em;
  font-weight: 500;
  position: absolute;
  left: 29px;
  top: 186.6px;
}
.nome5 {
  color: #292d32;
  text-align: left;
  font-family: 'Poppins-Medium', sans-serif;
  font-size: 14px;
  letter-spacing: -0.01em;
  font-weight: 500;
  position: absolute;
  left: 171.66px;
  top: 186.6px;
}
.nome6 {
  color: #292d32;
  text-align: left;
  font-family: 'Poppins-Medium', sans-serif;
  font-size: 14px;
  letter-spacing: -0.01em;
  font-weight: 500;
  position: absolute;
  left: 280.31px;
  top: 186.6px;
}
._79-213 {
  color: #292d32;
  text-align: left;
  font-family: 'Poppins-Medium', sans-serif;
  font-size: 13px;
  letter-spacing: -0.01em;
  font-weight: 500;
  position: absolute;
  left: 409.69px;
  top: 186.6px;
}
._6-867 {
  color: #292d32;
  text-align: left;
  font-family: 'Poppins-Medium', sans-serif;
  font-size: 14px;
  letter-spacing: -0.01em;
  font-weight: 500;
  position: absolute;
  left: 581.38px;
  top: 186.6px;
}
._0-03 {
  color: #292d32;
  text-align: left;
  font-family: 'Poppins-Medium', sans-serif;
  font-size: 14px;
  letter-spacing: -0.01em;
  font-weight: 500;
  position: absolute;
  left: 709.5px;
  top: 188.91px;
}
.group-25 {
  width: 712.5px;
  height: 23.3px;
  position: static;
}
._0000000004 {
  color: #292d32;
  text-align: left;
  font-family: 'Poppins-Medium', sans-serif;
  font-size: 14px;
  letter-spacing: -0.01em;
  font-weight: 500;
  position: absolute;
  left: 29px;
  top: 225.91px;
}
.nome7 {
  color: #292d32;
  text-align: left;
  font-family: 'Poppins-Medium', sans-serif;
  font-size: 14px;
  letter-spacing: -0.01em;
  font-weight: 500;
  position: absolute;
  left: 171.66px;
  top: 225.91px;
}
.nome8 {
  color: #292d32;
  text-align: left;
  font-family: 'Poppins-Medium', sans-serif;
  font-size: 14px;
  letter-spacing: -0.01em;
  font-weight: 500;
  position: absolute;
  left: 280.31px;
  top: 225.91px;
}
._57-010 {
  color: #292d32;
  text-align: left;
  font-family: 'Poppins-Medium', sans-serif;
  font-size: 13px;
  letter-spacing: -0.01em;
  font-weight: 500;
  position: absolute;
  left: 409.69px;
  top: 225.91px;
}
._4-238 {
  color: #292d32;
  text-align: left;
  font-family: 'Poppins-Medium', sans-serif;
  font-size: 14px;
  letter-spacing: -0.01em;
  font-weight: 500;
  position: absolute;
  left: 581.38px;
  top: 225.91px;
}
._0-04 {
  color: #292d32;
  text-align: left;
  font-family: 'Poppins-Medium', sans-serif;
  font-size: 14px;
  letter-spacing: -0.01em;
  font-weight: 500;
  position: absolute;
  left: 709.5px;
  top: 228.21px;
}
.group-26 {
  width: 712.5px;
  height: 23.3px;
  position: static;
}
._0000000005 {
  color: #292d32;
  text-align: left;
  font-family: 'Poppins-Medium', sans-serif;
  font-size: 14px;
  letter-spacing: -0.01em;
  font-weight: 500;
  position: absolute;
  left: 29px;
  top: 265.21px;
}
.nome9 {
  color: #292d32;
  text-align: left;
  font-family: 'Poppins-Medium', sans-serif;
  font-size: 14px;
  letter-spacing: -0.01em;
  font-weight: 500;
  position: absolute;
  left: 171.66px;
  top: 265.21px;
}
.nome10 {
  color: #292d32;
  text-align: left;
  font-family: 'Poppins-Medium', sans-serif;
  font-size: 14px;
  letter-spacing: -0.01em;
  font-weight: 500;
  position: absolute;
  left: 280.31px;
  top: 265.21px;
}
._41-214 {
  color: #292d32;
  text-align: left;
  font-family: 'Poppins-Medium', sans-serif;
  font-size: 13px;
  letter-spacing: -0.01em;
  font-weight: 500;
  position: absolute;
  left: 409.69px;
  top: 265.21px;
}
._2-037 {
  color: #292d32;
  text-align: left;
  font-family: 'Poppins-Medium', sans-serif;
  font-size: 14px;
  letter-spacing: -0.01em;
  font-weight: 500;
  position: absolute;
  left: 581.38px;
  top: 265.21px;
}
._0-05 {
  color: #292d32;
  text-align: left;
  font-family: 'Poppins-Medium', sans-serif;
  font-size: 14px;
  letter-spacing: -0.01em;
  font-weight: 500;
  position: absolute;
  left: 709.5px;
  top: 267.51px;
}
.group-242 {
  width: 179.15px;
  height: 17.13px;
  position: static;
}
.rectangle-31 {
  background: #f9fbff;
  border-radius: 10px;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  width: 179.15px;
  height: 16.13px;
  position: absolute;
  left: 605px;
  top: 12px;
}
.search {
  color: #b5b7c0;
  text-align: left;
  font-family: 'Poppins-Regular', sans-serif;
  font-size: 11px;
  letter-spacing: -0.01em;
  font-weight: 400;
  position: absolute;
  left: 638.18px;
  top: 11px;
}
.search-1 {
  width: 11px;
  height: 12px;
  position: absolute;
  left: 611.78px;
  top: 14px;
  overflow: visible;
}
.group-299 {
  width: 229.2px;
  height: 24px;
  position: static;
}
.frame-292 {
  background: #292d32;
  border-radius: 4px;
  border-style: solid;
  border-color: #292d32;
  border-width: 1px;
  padding: 6px 10px 6px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 315.52px;
  top: 301px;
}
._1 {
  color: #ffffff;
  text-align: left;
  font-family: 'Poppins-Medium', sans-serif;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: -0.01em;
  font-weight: 500;
  position: relative;
}
.frame-293 {
  background: #f5f5f5;
  border-radius: 4px;
  border-style: solid;
  border-color: #eeeeee;
  border-width: 1px;
  padding: 6px 9px 6px 9px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 346.21px;
  top: 301px;
}
._2 {
  color: #404b52;
  text-align: left;
  font-family: 'Poppins-Medium', sans-serif;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: -0.01em;
  font-weight: 500;
  position: relative;
}
.frame-295 {
  background: #f5f5f5;
  border-radius: 4px;
  border-style: solid;
  border-color: #eeeeee;
  border-width: 1px;
  padding: 6px 9px 6px 9px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 406.75px;
  top: 301px;
}
._4 {
  color: #404b52;
  text-align: left;
  font-family: 'Poppins-Medium', sans-serif;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: -0.01em;
  font-weight: 500;
  position: relative;
}
.frame-296 {
  background: #f5f5f5;
  border-radius: 4px;
  border-style: solid;
  border-color: #eeeeee;
  border-width: 1px;
  padding: 6px 5px 6px 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 455.69px;
  top: 301px;
}
._40 {
  color: #404b52;
  text-align: left;
  font-family: 'Poppins-Medium', sans-serif;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: -0.01em;
  font-weight: 500;
  position: relative;
}
.frame-297 {
  background: #f5f5f5;
  border-radius: 4px;
  border-style: solid;
  border-color: #eeeeee;
  border-width: 1px;
  padding: 6px 9px 6px 9px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 487.2px;
  top: 301px;
}
.div {
  color: #404b52;
  text-align: left;
  font-family: 'Poppins-Medium', sans-serif;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: -0.01em;
  font-weight: 500;
  position: relative;
}
.frame-298 {
  background: #f5f5f5;
  border-radius: 4px;
  border-style: solid;
  border-color: #eeeeee;
  border-width: 1px;
  padding: 6px 9px 6px 9px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 284px;
  top: 301px;
}
.div2 {
  color: #000000;
  text-align: left;
  font-family: 'Poppins-Medium', sans-serif;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: -0.01em;
  font-weight: 500;
  position: absolute;
  left: 438.27px;
  top: 304.4px;
}
.frame-294 {
  background: #f5f5f5;
  border-radius: 4px;
  border-style: solid;
  border-color: #eeeeee;
  border-width: 1px;
  padding: 6px 8px 6px 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 376.89px;
  top: 301px;
}
._3 {
  color: #404b52;
  text-align: left;
  font-family: 'Poppins-Medium', sans-serif;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: -0.01em;
  font-weight: 500;
  position: relative;
}